<div id="listing_<%=h listing["guid"] %>" class="result">
  <div class="marker has_marker">
    <%=h locals[:letter] %>
  </div>
  <div class="info">
    <h3><%=h listing["title"] %></h3>

    <% if listing["beds_string"] != "" %>
      <span class="tag"><%=h listing["beds_string"] %></span>
    <% end %>

    <% if listing["baths_string"] != "" %>
      <span class="tag"><%=h listing["baths_string"] %></span>
    <% end %>

    <% listing["keywords_a"].each do |keyword| %>
      <span class="tag"><%=h keyword %></span>
    <% end %>

    <p><%=h listing["summary"] %></p>

  </div>
  <div class="price"><%=h listing["nice_price"]%></div>
</div>
