<% if locals[:response_code] == "101" #ambiguous %>
  <div id="didyoumean">
    <p>
    <%= _("Did you mean") %>

    <%=
      locals[:response]["locations"].slice(1..-1).map do |alternative|
        "<a href='#{locals[:current_url].with({:location => alternative['place_name'], :offset => 0})}'>#{alternative['long_title']}</a>"
      end.join(" #{_('or')} ")
      %>?
    </p>
  </div>
<% end %>

<div id="result-info">
  <h1><%= formatted_number(locals[:num_results]) %> <%=h locals[:verbose_title]%></h1>

<% if locals[:response_code] == "202" || locals[:response_code] == "200" # misspelt or ambiguous %>
  <div id="didyoumean">
    <p>
    <%= _("Did you mean") %>

    <%=
      locals[:response]["locations"].map do |alternative|
        "<a href='#{locals[:current_url].with({:location => alternative['place_name'], :offset => 0})}'>#{alternative['long_title']}</a>"
      end.join(" #{_('or')} ")
      %>?
    </p>
  </div>
<% end %>

  <p>
    <%= _("Looking for") %> <a href="<%= locals[:other_url] %>"><%= _("property") %> <%= locals[:listing_type].downcase == "rent" ? _("for sale in") : _("to rent in") %> <%=h locals[:location_nicename] %></a>?
  </p>
</div>
<div class="pagination">
  <span class="pagination-line"><%= locals[:pagination_line] %></span>
  <div class="sort"> <span><%= _("Sort by") %></span>
    <%
      sort_options = [
        ["relevancy",       _("Nestoria Rank")],
        ["price_lowhigh",   _("Price") +" "+ _("low to high")],
        ["price_highlow",   _("Price") +" "+ _("high to low")],
        ["bedroom_lowhigh", _("Beds") +" "+ _("(fewer first)")],
        ["bedroom_highlow", _("Beds") +" "+ _("(more first)")],
        ["oldest",          _("Date") +" "+  _("(older first)")],
        ["newest",          _("Date") +" "+ _("(newer first)")]
      ]
    %>
    <select id="sort_input" name="sort">
      <% sort_options.each do |o| %>
        <option value="<%=o[0]%>" <%= selected="selected" if locals[:sort] == o[0] %>><%=h o[1] %></option>
      <% end %>
    </select>
    <input id="update_sort" type="submit" value ="update"/>
    <a href="#" class="sort-info" title="What's this?"><%= _("What's this?") %></a>
  </div>
</div>

<div id="listings">
  <%= partial(:listings, locals: locals) %>
</div> <!-- #listings -->

<div class="pagination">
  <% if locals[:page_no] > 1 %>
    <a href="<%= previous_page_url %>" class="button previous">&larr; <%= _("Previous") %></a>
  <% end %>
  <% if locals[:page_no] < locals[:total_pages] %>
    <a href="<%= next_page_url %>" class="button next"><%= _("Next") %> &rarr;</a>
  <% end %>
</div>

<div class="alt_search_options">
  <div>
    <h4><%= _("You are here") %>:</h4>
    <p>
      <a href="<%=locals[:current_url].with(location: "london")%>">
        <%=h x_to_y_in_z(locals[:property_type], locals[:listing_type], "London", 1000)%>
      </a><br/>
      &rarr;
      <%=h x_to_y_in_z(locals[:property_type], locals[:listing_type], locals[:location_nicename], 1000)%>
    </p>
  </div>
  <div>
    <h4><%= _("Property to %{rent_buy} near" % {rent_buy: locals[:property_type]}) %> <%=h locals[:location_nicename]%>:</h4>
    <p>
      <a href="<%=locals[:current_url].with(location: "barking") %>">Barking</a>,
      <a href="<%=locals[:current_url].with(location: "regents-canal") %>">Regent's Canal</a>,
      <a href="<%=locals[:current_url].with(location: "zone-1-london") %>">Zone 1 London</a>
    </p>
  </div>
  <div>
    <h4><%= _("Change your search") %>:</h4>
    <p>
      <%= (["property", "house", "flat"] - [locals[:property_type]]).map do |pt|
        "<a href='#{locals[:current_url].with(property_type: pt)}'>"+
          "#{h x_to_y_in_z(pt, locals[:listing_type], locals[:location_nicename], 1000)}"+
        "</a>"
      end.join(", ") %>
    </p>
  </div>
</div>

<br clear="all"/>

<div class="partners">
  <% if locals[:num_results] > 1 %>
    <%=h _("These %{num_results} results were collected on from up to 15 different sources, among which:" % {num_results: formatted_number(locals[:num_results])}) %>
  <% end %>
  <%= image_tag "images/agents.jpg" %>
</div>

<div style="display: none;" id="loading_message">
  <p class="message">Loading...</p>
  <div class="spinner">
    <div class="bar1"></div><div class="bar2"></div><div class="bar3"></div><div class="bar4"></div><div class="bar5"></div><div class="bar6"></div><div class="bar7"></div><div class="bar8"></div><div class="bar9"></div><div class="bar10"></div><div class="bar11"></div><div class="bar12"></div>
  </div>
  <p><a class="cancel" href="<%= locals[:current_url] %>"><%= _("cancel") %></a></p>
</div>
