<div id="map_panel" class="draw">
  <a id="map_toggle" href="#" class="bar"><%= _("Map") %></a>
  <div class="content">
    <div id="map_wrapper">
      <div id="main_map"></div>
    </div>
  </div>
</div>

<!--
<div class="draw">
  <a href="#" class="bar">Panel 2</a>
  <div class="content">
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor.</p>
  </div>
</div>
-->

<div class="draw">
  <a href="#" class="bar"><%=_("House Prices")%></a>
  <div class="content">
    <div class="nestoria-widget">
      <div id="nest_data_<%=locals[:location]%>">
      </div>
    </div>
    <!-- don't want Nestoria CSS -->
    <div id="nestoriaCss"></div>
    <script type="text/javascript" src="http://widget.nestoria.co.uk/<%=locals[:location]%>/<%=locals[:property_type]%>/<%=locals[:listing_type]%>?view=3"></script>
  </div>
</div>
