<div class="container">
  <div id="results">
    <div id="result-info">
      <h1><%= formatted_number(locals[:num_results]) %> <%=h locals[:verbose_title]%></h1>
    </div>

    <div id="map" style="width: 100%; height: 300px"></div>
    <script>
      var map = L.map('map').setView([<%= locals[:center][:lat] %>, <%= locals[:center][:long] %>], 15);
      L.tileLayer('http://b.tile.stamen.com/toner/{z}/{x}/{y}.png', {}).addTo(map);
      //L.marker([51.5, -0.09]).addTo(map)
      //.bindPopup('A pretty CSS3 popup. <br> Easily customizable.').openPopup();

    </script>

    <div id="listings">
    <%
      i = 0
      letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    %>
    <% if listings then listings.each do |listing| %>
      <%= partial "listing", :locals => {
        :listing => listing,
        :letter => letters[i]} %>
      <% i = [i+1, 25].min %>
    <% end end%>
    </div> <!-- #listings -->
  </div> <!-- #results -->

  <script>
    // test
    locals = <%= JSON.pretty_generate(locals) %>

    listings = <%= locals[:listings].to_json %>
    var marker_img = new L.Icon({
      iconUrl: '/images/marker.svg',
      iconSize: [48,48],
    });

    console.log(marker_img);

    $(listings).each(function(i, l) {
      console.log(l);

      L.marker([parseFloat(l.latitude), parseFloat(l.longitude)],
      {
        icon: marker_img
      }
      ).addTo(map);
    });
  </script>
</div>
