<div class="container">
  <div id="results">
    <div id="result-info">
      <h1><%= formatted_number(locals[:num_results]) %> <%=h locals[:verbose_title]%></h1>
    </div>

    <div id="map" style="width: 100%; height: 300px"></div>

    <div id="listings">
    <%
      i = 0
      letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    %>
    <% if listings then listings.each do |listing| %>
      <%= partial "listing", :locals => {
        :listing => listing,
        :letter => letters[i]} %>
      <% i = [i+1, 25].min %>
    <% end end%>
    </div> <!-- #listings -->
  </div> <!-- #results -->

  <script>
    // test
    locals = <%= JSON.pretty_generate(locals) %>

    listings = <%= locals[:listings].to_json %>
    center = new L.LatLng(<%=locals[:center][:lat]%>, <%=locals[:center][:long]%>);

    showing_map = true;


    var listings_on_map = _(listings).filter(function(e) {
      return parseFloat(e.location_accuracy) >= 7;
    });

    showing_map = listings_on_map.length > 0;

    if(!showing_map) {
      $("#map").hide();
    }

    var marker_img = new L.Icon({
      iconUrl: '/images/marker-black.svg',
      iconSize: [48,48],
    });


    var latLngs = _(listings_on_map).reduce(function(list, e) {
      list.push(new L.LatLng(e.latitude, e.longitude));
      return list;
    }, [center]);

    var bounds = new L.LatLngBounds(latLngs);
    var map = L.map('map').fitBounds(bounds.pad(0.1));

    L.tileLayer('http://b.tile.stamen.com/toner/{z}/{x}/{y}.png', {}).addTo(map);
    //L.marker([51.5, -0.09]).addTo(map)
    //.bindPopup('A pretty CSS3 popup. <br> Easily customizable.').openPopup();

    $(listings_on_map).each(function(i, l) {
      console.log(l);

      L.marker([parseFloat(l.latitude), parseFloat(l.longitude)],
      {
        icon: marker_img
      }
      ).addTo(map);
    });
  </script>
</div>
